---
title: "Start a Project"
long_title: "Start Your Web Design or Development Project"
above_header: true
---

<% hero = capture do %>
  <h1>Let&rsquo;s get started!</h1>
  <h2 class="title--subheading">Just a few questions to jump-start your project.</h2>
<% end %>
<%= macro_hero(
    image: asset_url("images/backgrounds/blog-bg.jpg"),
    theme: "theme--very-dark"
  ) { hero } %>

<section class="b-page s-project-inquiry" id="thanks">
  <div class="l-constrained-medium">
    <div class="will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">
      <%= partial "partials/project_inquiry_form" %>
    </div>
  </div>
</section>

<%# Random case studies (async) %>
<div class="s-case-studies theme--async"
      data-current-entry="<%= current_page.url %>"
      data-random-case-studies="4">
  <%= partial "templates/case_study_boxes" %>
</div>
