---
title: "Work With Us"
above_header: true
---

<% hero = capture do %>
  <h1>Let's get started!</h1>
  <h2 class="title--subheading">Just a few questions to jump-start your project.</h2>
<% end %>
<%= macro_hero(
    image: asset_url("images/backgrounds/blog-bg.jpg")
  ) { hero } %>

<section class="l-constrained-medium b-page s-project-inquiry" id="thanks">
  <div class="will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <%= partial "partials/project_inquiry_form" %>
  </div>
</section>
