---
title: "Thanks! - Work with Us"
above_header: true
---

<% hero = capture do %>
  <h1>Thank you!</h1>
  <h2 class="title--subheading">We'll be in touch shortly.</h2>
<% end %>
<%= macro_hero(
    image: asset_url("images/backgrounds/blog-bg.jpg")
  ) { hero } %>

<section class="l-constrained-medium b-page s-project-inquiry" id="thanks">
  <div class="will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <div class="b-simple-callout">
      <a href="/" class="btn">Return Home</a>
    </div>
  </div>
</section>
