.s-case-studies {
  > h2 {
    @include page-container(20em, 20em);
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 0;
    font-family: $typeface-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
  }

  > article {
    margin-bottom: 1px;
  }
} // .s-case-studies

.s-case-study__hero-content h2 {
  margin: 1em 0 0;
}
