.s-footer {
  padding: 3em $page-gutter;
  background: $off-white;
  font-family: $typeface-sans;
  text-align: center;
}

.s-footer__social {
  margin-bottom: 1em;
  color: $grey;
  font-size: 1.5em;

  li {
    display: inline;
    margin-left: 0.5em;
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: $black;
  }
} // .s-footer__social

.s-footer__copyright {
  color: $grey;
  font-family: $typeface-serif;
  font-size: 0.75em;
  font-style: italic;
}
