.s-header {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height + 1em;
  padding: 1em 1em 0;
  @include linear-gradient(rgba($black, 0.2), transparent, $fallback: transparent);
  color: $off-white;

  > * {
    height: 100%;
  }
} // .s-header

.s-header__logo {
  float: left;
  height: 100%;
}

.s-header__nav {
  position: relative;
  float: right;
  height: 100%;
}
