.s-header {
  @include clearfix;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  padding: 0 $page-gutter;
  @include linear-gradient(rgba($black, 0.2), transparent, $fallback: transparent);
  color: $off-white;

  > * {
    height: 100%;
  }
} // .s-header

.s-header--logo {
  float: left;
  height: 100%;
  padding: 0.5em 0;
}
