.s-services {
  position: relative;
  z-index: 1;
  padding-top: 1em;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
  padding-bottom: 5em;
  background: $off-white;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    content: '';
    pointer-events: none;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .no-csstransforms & {
    padding-top: 2em;
    padding-bottom: 2em;
  }
} // .s-services

.s-services__statement {
  max-width: 30em;
  margin: 0 auto 1.5em;
  color: $pink;
  font-family: $typeface-sans;
  font-size: 1.25em;
  font-weight: bold;
}

.s-services__lists {
  display: inline-block;
  max-width: 30em;
  margin: auto;
  font-size: 87.5%;
  text-align: left;

  h2 {
    border-bottom: 1px solid $grey-light;
    color: $black-20;
    font-size: 0.9375em;
    font-weight: 800;
    line-height: 1.25;
    text-transform: uppercase;
  }

  ul {
    margin-bottom: 1.5em;
  }

  li {
    margin-bottom: 0.75em;
  }

  @include media(min-width 360px max-width $breakpoint-large-screen - 1) {
    @include row;
    max-width: 40em;

    ul {
      @include span-columns(6);
      @include omega(2n);
    }
  } // @media 360px to $breakpoint-large-screen - 1

  @include media-ie($breakpoint-large-screen) {
    @include row;
    max-width: 60em;

    ul {
      @include span-columns(3);
    }
  } // @media $breakpoint-large-screen
} // .s-services__lists
