@mixin welcome-section-layout {
  padding: 4em + $header-height 0 7em;

  header {
    font-size: 100%;
  }
} // @mixin welcome-section-layout

.s-home-welcome {
  padding: 2em + $header-height 0 4em;
  background: $black image-url('backgrounds/home-welcome.jpg') no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
  color: $off-white;
  text-align: center;

  header {
    font-size: 67.5%;
  }

  .s-home-welcome__logo {
    max-width: 20em;
    margin: 0 auto 1.5em;
  }

  h2 {
    font-family: $typeface-serif;
    font-weight: normal;
    line-height: normal;
    font-style: italic;
  }

  [class*="btn"] {
    font-family: $typeface-serif;
    font-weight: bold;
    font-style: italic;
    &:hover { color: $black !important; }
  }

  @include media(min-width 600px min-height 550px) {
    @include welcome-section-layout;
  }

  @include media-ie {
    @include welcome-section-layout;
  }
} // .s-home-welcome
