.s-services {
  position: relative;
  z-index: 1;
  padding-right: $page-gutter;
  padding-left: $page-gutter;
  padding-bottom: 2em;
  background: $off-white;
  text-align: center;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
    content: '';
    pointer-events: none;
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  @include media(600px) {
    padding-bottom: 10%;
  }

  .no-csstransforms3d & {
    padding-bottom: 0;
  }
} // .s-services

.s-services__lists {
  max-width: 19em;
  margin: 0 auto 0;
  font-size: 87.5%;

  article {
    margin-bottom: 1.5em;
  }

  article:last-child {
    margin-bottom: 0;
  }

  img {
    @include fadeInOnPageLoad;
  }

  @include media-ie(568px) {
    @include row;
    @include display(flex);
    max-width: 60em;

    article {
      @include span-columns(4);
      margin-bottom: 0;
    }
  } // @media 568px
} // .s-services__lists
