.s-home-welcome {
  background: image-url('bg-home-welcome.jpg') center center;
  background-size: cover;
  color: $off-white;
  font-weight: bold;
  text-align: center;

  h2 {
    font-family: $typeface-serif;
    font-weight: normal;
    line-height: normal;
  }
} // .s-home-welcome

.s-home-welcome__overlay {
  padding: 7em + $header-height 0 7em;
  background: rgba(50,50,50,0.5);
}
