@mixin welcome-section-layout {
  padding: 7em + $header-height 0 7em;

  header {
    font-size: 100%;
  }
} // @mixin welcome-section-layout

.s-home-welcome {
  padding: 4em + $header-height 0 4em;
  background: image-url('backgrounds/home-welcome.jpg') center center;
  -webkit-background-size: cover;
  background-size: cover;
  color: $off-white;
  text-align: center;

  header {
    padding: 0 $page-gutter;
    font-size: 67.5%;
  }

  h2 {
    font-family: $typeface-serif;
    font-weight: normal;
    line-height: normal;
    font-style: italic;
  }

  [class*="btn"] {
    font-family: $typeface-serif;
    font-weight: bold;
    font-style: italic;
  }

  @include media(min-width 500px min-height 500px) {
    @include welcome-section-layout;
  }

  @include media-ie {
    @include welcome-section-layout;
  }
} // .s-home-welcome
