@import "blocks/containers";

.s-home-projects {
  padding-bottom: 2em;
  text-align: center;

  .section-title {
    margin: 0 auto;
  }

  @include media(600px) {
    padding-bottom: 10%;
  }

  .no-csstransforms & {
    padding-bottom: 0;
  }
} // .s-home-projects

.s-home-projects__items {
  $item: '.b-basic-card';
  $content: '.b-basic-card__content';

  #{$item} {
    min-height: 15em;
    padding: $page-gutter;
    margin: 0 auto 1px;
    background-color: $black;
  }

  // small {
  //   color: $pink;
  //   text-decoration: underline;
  // }

  .flexbox & {
    #{$item} {
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
    }

    @include media(768px) {
      @include display(flex);
      @include flex-wrap(wrap);

      #{$item} {
        @include flex(0.5 0.4 40%);
        min-height: 20em;
        margin-bottom: 0;
      }

      #{$item}:first-child {
        @include flex(2 2.0 100%);
        margin-bottom: 1px;

        #{$content} {
          margin: 0 auto;
        }
      } // first-child

      #{$item}:last-child {
        margin-left: 1px;
      }
    } // 768px
  } // .flexbox &
} // .s-home-projects__items

.s-home-projects__logo {
  max-width: 8em;
  margin: auto;

  img {
    width: 100%;
    height: auto;
  }
} // .s-home-projects__logo
