@import "blocks/containers";

.s-home-projects {
  background: image-url('backgrounds/struckaxiom.png') repeat;
  text-align: center;

  .section-title {
    margin: 0 auto;
  }

  @include hidpi(1.5) {
    background: image-url('backgrounds/struckaxiom_@2X.png') repeat;
  }
} // .s-home-projects

.s-home-projects__items {
  $border-radius: 20px;
  @include page-container(none, $max-width);

  article {
    max-width: 20em;
    margin: 0 auto 1em;
    border-radius: $border-radius 0 $border-radius 0;
    -webkit-background-size: cover cover;
    background-size: cover cover;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    @include transition(border-radius 0.2s ease);
  }

  article:hover {
    border-radius: 0 $border-radius 0 $border-radius;
  }

  h2 {
    margin-bottom: 0;
    font-size: 1.5em;
  }

  small {
    color: $pink;
    text-decoration: underline;
  }

  @include media-ie($breakpoint-ipad) {
    article { @include span-columns(4); }
  }
} // .s-home-projects__items article

.s-home-projects__logo {
  width: 50%;
  max-width: 8em;
  margin: auto;

  img {
    width: 100%;
    height: auto;
  }
} // .s-home-projects__logo
