.s-footer-nav {
  $border-color: darken($medium-white, 5);

  border-top: 1px solid $border-color;
  border-bottom: 0.5em solid $pink;
  // background: $medium-white;
  background: $off-white;
  font-family: $typeface-sans;
  text-align: center;
  text-transform: uppercase;

  ul {
    @include clearfix;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: bottom;
  }

  li {
    float: left;
    width: 33.333333333%;
    border-left: 1px solid $border-color;
  }

  li:first-child {
    border-left: none;
  }

  li.top-row {
    border-bottom: 1px solid $border-color;
  }

  a {
    display: block;
    padding: 1em;
    text-decoration: none;
  }

  a:hover {
    background: $border-color;
    text-decoration: none;
  }

  @include media-ie(480px) {
    ul {
      display: inline-block;
    }

    li {
      width: auto;
    }

    li.top-row {
      border-bottom: none;
    }
  } // @include media-ie(500px)
} // .s-footer__nav
