.s-project-inquiry {
  h2 {
    font-size: 1.75em;
    margin-bottom: 0.5em;
    margin-bottom: 1rem;
  }

  h3 {
    margin-bottom: 1em;
    margin-bottom: 1rem;
    color: $grey-dark;
    font-family: $typeface-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }
} // .s-project-inquiry
