<% btn  = btn  || 'btn' %>
<% id   = id   || nil %>
<% text = text || 'Start a Project' %>

<a href="<%= data.urls.work_with_us %>"
    class="<%= btn %> will-animate pulse"
    <% if id %>
      id="<%= id %>"
    <% end %>
  >
  <%= text %>
</a>
