<% btn = btn || 'btn' %>
<% id  = id  || nil %>

<a
  href="<%= data.urls.work_with_us %>"
  class="<%= btn %> typeform-share"
  id="<%= id %>"
  data-mode="1"
  data-faux-progress
  target="_blank">
  Work With Us
</a>
