<% btn = btn || 'btn' %>
<% id  = id  || nil %>

<a href="<%= data.urls.work_with_us %>"
    class="<%= btn %> will-animate pulse"
    <% if id %>
      id="<%= id %>"
    <% end %>
  >
  Work With Us
</a>
