<% last ||= nil %>

<article
  <% if last %> class="ie-omega"<% end %>
  style="background-image: url('<%= case_study_bg_path(project) %>')">
  <div class="media-16x9 overlay__wrap">
    <div class="overlay__centered">
      <div class="overlay__content">

        <div class="s-home-projects__logo">
          <img src="<%= case_study_logo_path(project) %>" alt="<%= project.title %>">
        </div>

        <a href="<%= project.url %>" class="link-vivid">
          <small><em>Learn more</em></small>
        </a>

      </div>
    </div>
  </div>
</article>
