<%#
  OPTIONS
  ---
  image (background image)
  color (text color)
  background (background color)
  fixed (fixed background image)
%>

<%
  classes = [
    "b-text-component",
    ("has-fixed-bg" if fixed),
    ("has-bg-image" if image)
  ].join(' ')

  style = [
    ("color: #{color};" if color),
    ("background-image: url('#{image}');" if image),
    ("background-color: #{background};" if background)
  ].join(' ')

  is_callout = callout ? 'is-callout' : nil
%>

<div class="<%= classes %>" style="<%= style %>">
  <div class="l-constrained-large">
    <div class="b-text <%= is_callout %>">
      <%= yield %>
    </div>
  </div>
</div>
