/*
 * ------------------------------------------------
 * Call to action section
 * ------------------------------------------------
 */

.b-callout--cta-section {
  @include page-container($layout-width-large, $layout-width-large);
  margin: 4em auto;
  text-align: center;

  h3 {
    margin-bottom: 1em;
    font-size: 1.75em;
  }

  @include media(600px) {
    h3 {
      font-size: 2em;
    }
  } // 600px
} // .b-callout--cta-section
