@charset "UTF-8";

// Settings
@import "settings/typography";
@import "settings/layout";
@import "settings/colors";

// Vendor
@import "boarding_pass";
@import "vendor/slick";
@import "vendor/animate.min";
@import "vendor/prism";

// Libs
@import "lib/ie";
@import "lib/flexbox";
@import "lib/utilities";
@import "lib/styles";
@import "lib/icomoon";
@import "lib/animations";

// Elements
@import "elements/document";
@import "elements/typography";
@import "elements/buttons";
@import "elements/lists";
@import "elements/inputs";
@import "elements/forms";
@import "elements/images";
@import "elements/titles";
@import "elements/links";
@import "elements/media";
@import "elements/overlays";
@import "elements/effects";
@import "elements/live-previews";

// Blocks/modules
@import "blocks/containers";
@import "blocks/text";
@import "blocks/menu";
@import "blocks/sections";
@import "blocks/heros";
@import "blocks/slideshow";
@import "blocks/case-study";
@import "blocks/blog/box";
@import "blocks/blog/index";
@import "blocks/blog/single";
@import "blocks/pagination";
@import "blocks/services";
@import "blocks/authors";
@import "blocks/interactive-devices";
@import "blocks/callouts/cta-section";
@import "blocks/forms/basic";
@import "blocks/forms/project";

// Sections
@import "sections/header";
@import "sections/nav";
@import "sections/footer";
@import "sections/home-welcome";
@import "sections/home-projects";
@import "sections/home-services";
@import "sections/home-team";
@import "sections/case-studies/index";
@import "sections/case-studies/entry";
@import "sections/blog/index";
@import "sections/blog/single";
@import "sections/new-client";
@import "sections/project-inquiry";
@import "sections/404";
