@charset "UTF-8";

// Settings
@import "settings/typography";
@import "settings/layout";
@import "settings/colors";

// Vendor
@import "boarding_pass";
@import "typography/typography";

// Libs
@import "lib/ie";
@import "lib/flexbox";
@import "lib/utilities";
@import "lib/icomoon";

// Elements
@import "elements/document";
@import "elements/typography";
@import "elements/buttons";
@import "elements/inputs";
@import "elements/images";

// Blocks/modules
@import "blocks/containers";
@import "blocks/text";
@import "blocks/menu";

// Sections
@import "sections/header";
@import "sections/nav";
@import "sections/footer";
@import "sections/home-welcome";
