<form accept-charset="UTF-8"
      action="https://formkeep.com/f/bf6e58cdbacf"
      id="new-client-form"
      name="new-client-form"
      class="b-form b-project-form"
      method="POST">

  <div class="form__required-indicator">
    <span class="input--required-asterisk">*</span> indicates required
  </div>

  <input type="hidden" name="utf8" value="✓">

  <fieldset>
    <legend>Contact Information</legend>

    <%# First Name %>
    <div class="input--group theme--text">
      <label for="field--name">
        First Name <span class="input--required-asterisk">*</span>
      </label>
      <input type="text" name="first-name" id="field--first-name" class="input" required>
    </div>

    <%# Last Name %>
    <div class="input--group theme--text">
      <label for="field--name">
        Last Name <span class="input--required-asterisk">*</span>
      </label>
      <input type="text" name="last-name" id="field--last-name" class="input" required>
    </div>

    <%# Company/Organization %>
    <div class="input--group theme--text">
      <label for="field--company">Company/Organization Name</label>
      <input type="text" name="company" id="field--company" class="input">
    </div>

    <%# Title %>
    <div class="input--group theme--text">
      <label for="field--company">Title</label>
      <input type="text" name="title" id="field--title" class="input">
    </div>

    <%# Email %>
    <div class="input--group theme--text">
      <label for="field--email">
        Email Address <span class="input--required-asterisk">*</span>
      </label>
      <input type="email" name="email" id="field--email" class="input" required>
    </div>

    <%# Website %>
    <div class="input--group theme--text">
      <label for="field--website">Website</label>
      <input type="url" name="website" id="field--website" class="input">
    </div>

    <%# Office Phone %>
    <div class="input--group theme--text">
      <label for="field--phone">
        Phone Number (office) <span class="input--required-asterisk">*</span>
      </label>
      <input type="tel" name="office-phone" id="field--office-phone" class="input" required>
    </div>

    <%# Mobile Phone %>
    <div class="input--group theme--text">
      <label for="field--phone">
        Phone Number (mobile) <span class="input--required-asterisk">*</span>
      </label>
      <input type="tel" name="mobile-phone" id="field--mobile-phone" class="input" required>
    </div>

    <fieldset class="input--group">
      <legend>Mailing Address</legend>

      <%# Street Address %>
      <div class="input--group theme--text">
        <label for="field--company">Street<span class="input--required-asterisk">*</span></label>
        <input type="text" name="street-1" id="field--street-1" class="input" required>
      </div>

      <%# Street (cont) %>
      <div class="input--group theme--text">
        <label for="field--company">Street <em>(continued)</em></label>
        <input type="text" name="street-2" id="field--street-2" class="input">
      </div>

      <%# City %>
      <div class="input--group theme--text">
        <label for="field--company">City<span class="input--required-asterisk">*</span></label>
        <input type="text" name="city" id="field--city" class="input" required>
      </div>

      <%# State/Province %>
      <div class="input--group theme--text">
        <label for="field--company">State/Province<span class="input--required-asterisk">*</span></label>
        <input type="text" name="state" id="field--state" class="input" required>
      </div>

      <%# Zip/Postal Code %>
      <div class="input--group theme--text">
        <label for="field--company">Zip/Postal Code<span class="input--required-asterisk">*</span></label>
        <input type="text" name="zip" id="field--zip" class="input" required>
      </div>

      <%# Country %>
      <div class="input--group theme--text">
        <label for="field--company">Country<span class="input--required-asterisk">*</span></label>
        <input type="text" name="country" id="field--country" class="input" required>
      </div>
    </fieldset>

    <%# Mailing List %>
    <% choice = [
        "Yes",
        "No"
      ] %>
    <fieldset class="input--group">
      <legend>Would you like to subscribe to our monthly client newsletter offering updates and insight?</legend>
      <div class="input--options">
        <% choice.each do |value| %>
          <div class="input--radio">
            <% id = "field--newletter-#{value.parameterize}" %>
            <input type="radio" name="newsletter" value="<%= value %>" id="<%= id %>">
            <label for="<%= id %>">
                <%= value %>
            </label>
          </div>
        <% end %>
      </div>
    </fieldset>

  <div class="b-form__actions">
    <button type="submit" class="btn short">Submit</button>
  </div>
</form>
