<form action="//lacroixdesign.us2.list-manage.com/subscribe/post?u=cb74d792445887e99b0a36575&amp;id=9875eb3767"
      id="mc-embedded-subscribe-form"
      class="b-newsletter-form"
      name="mc-embedded-subscribe-form"
      method="post"
      target="_blank">
  <div class="form__required-indicator">
    <span class="input__required-asterisk">*</span> indicates required
  </div>

  <div class="input__group">
    <label for="mce-EMAIL">Email Address  <span class="input__required-asterisk">*</span></label>
    <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="input">
  </div>
  <div class="input__group">
    <label for="mce-FNAME">First Name</label>
    <input type="text" value="" name="FNAME" id="mce-FNAME" class="input">
  </div>
  <div class="input__group">
    <label for="mce-LNAME">Last Name</label>
    <input type="text" value="" name="LNAME" id="mce-LNAME" class="input">
  </div>

  <%#
    # real people should not fill this in and expect good things
    # do not remove this or risk form bot signups
  %>
  <div style="position: absolute; left: -5000px;">
    <input type="text" name="b_cb74d792445887e99b0a36575_9875eb3767" tabindex="-1" value="">
  </div>

  <div class="b-form__actions">
    <button type="submit" name="subscribe" class="btn">Subscribe</button>
  </div>
</form>
