.s-team {
  position: relative;
  z-index: 1;
  background: $white;
  text-align: center;
}

.s-team__stars {
  width: 100%;
  max-width: 20em;
  margin: 0 auto 1em;
}

.s-team__based {
  margin-bottom: 1em;
  color: $blue-chicago;
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
}

.s-team__about {
  margin: 2em auto;
}

.s-team__photos {
  max-width: 20em;
  margin: 2em auto;
  text-align: center;

  article {
    position: relative;
    display: inline-block;
    width: 48%;
    max-width: 6em;
    // overflow: hidden;
  }

  article:first-child {
    margin-right: 4%;
  }

  a,
  img {
    display: block;
    width: 100%;
    height: auto;
  }

  article .overlay {
    @include overlay-style;
    @include centered-content-style;
    @include display(flex);
    @include transition(all 0.5s ease);
    @include transform-origin(50% 50%);
    @include transform(scale(0.5));
    opacity: 0;
    padding: 0.5em;
    overflow: hidden;
    background: rgba($white, 0.7);
    color: $pink;
    @include media-ie-only { display: none; }
  }

  a:hover .overlay {
    @include transform(scale(1));
    opacity: 1;
    border-radius: 500px;
    @include media-ie-only { display: block; }
  }

  article h2 {
    margin: 0;
    font-family: $typeface-serif;
    font-size: 0.8125em;
    font-style: italic;
  }
} // .s-team__photos

.s-team__btn [class*="btn"] {
  @include btn($red-chicago, $white, $border-size: 2px);
  font-size: 1em;
}
