@mixin welcome-section-layout {
  .s-home-welcome__content {
    padding: 4em + $header-offset 0 7em;
  }

  h1 {
    font-size: 2.25em;
  }
} // @mixin welcome-section-layout

.s-home-welcome {
  position: relative;
  overflow: hidden;
  background: $black-50 image-url('backgrounds/smartphone.jpg') right center;
  -webkit-background-size: cover;
  background-size: cover;
  color: $white;
  text-align: center;

  video {
    @include position(absolute, 0 0 0 0);
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
  }

  .s-home-welcome__content {
    position: relative;
    padding: 2em + $header-offset 0 4em;
    background: $black-50;
    background: rgba($black-50, 0.85);
  }

  h1 {
    margin-bottom: 1.5em;
    font-size: 1.25em;
    line-height: 1.375;

    strong {
      color: $pink;
      font-weight: inherit;
    }
  } // h1

  [class*="btn"] {
    font-family: $typeface-serif;
    font-weight: bold;
    font-style: italic;
    &:hover { color: $black-50 !important; }
  }

  @include media(350px) {
    h1 { font-size: 1.75em; }
  }

  @include media(500px) {
    h1 { font-size: 2.125em; }
  }

  @include media(min-width 330px min-height 450px) {
    .s-home-welcome__content { padding: 3em + $header-offset 0 5em; }
  }

  @include media(min-width 600px min-height 550px) {
    @include welcome-section-layout;
  }

  @include media-ie-only {
    @include welcome-section-layout;
  }
} // .s-home-welcome
