/*
 * Button style
 */
@mixin btn($color, $inverse, $border-size: 1px, $border-color: inherit) {
  @if $border-color == inherit {
    $border-color: $color;
  }
  @include appearance(none);
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 1em;
  margin: 0.25em 0;
  font-family: $typeface-serif;
  font-size: 0.875em;
  font-style: italic;
  font-weight: bold;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  text-rendering: optimizelegibility;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);
  @include transition(none);

  border: $border-size solid $border-color;
  border-radius: 2px;
  box-shadow: none;
  background: transparent;
  color: $color;

  &:visited {
    background: transparent;
    color: $color;
  }

  &:hover {
    background: $color;
    color: $inverse !important;
  }

  &:active {
    background: $color;
    color: $inverse !important;
  }

  &:focus {
    color: $color;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    @include opacity(0.5);
    background: transparent;
  }

  &.large {
    font-size: 1em;
  }
  &.x-large {
    font-size: 1.25em;
  }
  &.small {
    font-size: 0.65em;
  }
  &.mini {
    font-size: 0.6em;
  }

  &.short {
    padding-top: 0.75em;
    padding-bottom: 0.75em;
  }

  &.animate-faux-progress {
    $transition-time: 4s;
    background: transparent;
    color: $inverse;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 0%;
      height: 100%;
      background: $color;
      content: '';
      @include animation(btn-progress $transition-time ease-out);
      @include animation-iteration-count(1);
    }

    &:hover,
    &:active {
      background: transparent;
    }
  } // &.animate-faux-progress

  [data-icon] {
    vertical-align: middle;
  }
} // @mixin btn

@include keyframes(btn-progress) {
  0% {
    width: 0%;
  }
  10% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
} // keyframes

.btn {
  @include btn($pink, $white, $border-size: 2px);
  // $inverse
}

.btn-bright {
  @include btn($white, $black, $border-size: 2px);
}

.btn-subtle {
  @include btn($grey, $white, $border-size: 2px);
}
