// Document

html {
  font-size: 100%;
}

body {
  position: relative;
  background: #fff;
  color: $black;
  font-family: $typeface-serif;
  font-size: 100%;
  @include media-ie { min-width: $breakpoint-desktop; }

  @include media($typography-breakpoint1) {
    font-size: 112.5%;
  }

  @include media-ie($typography-breakpoint2) {
    font-size: 125%;
  }
} // body

iframe {
  border: none;
}

#content {
  overflow: hidden;
}

::-moz-selection { @include text-selection-styles; }
::selection      { @include text-selection-styles; }
