.form__required-indicator {
  color: $grey-dark;
  font-family: $typeface-sans;
  font-size: 0.5em;

  .input__required-asterisk {
    vertical-align: middle;
    font-size: 1.5em;
  }
} // .form__required-indicator

fieldset {
  border: 1px solid $dark-white;
  padding: 1.25em 0.75em 0.75em;
  margin: 0 auto;
}

legend {
  font-style: italic;
}
