@function input-padding($base) {
  @return $base * 3 / 4;
}

@function input-height($base) {
  $padding: input-padding($base);
  @return $base + ($padding * 2);
}

@mixin input-sizing($base) {
  height: input-height($base);
  padding: input-padding($base);
  font-size: $base;
  line-height: normal;
}

@mixin input($bg: white, $color: #555) {
  display: inline-block;
  width: 100%;
  margin: 0;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;
  background: $bg;
  color: $color;
  font-family: $typeface-sans;
  @include input-sizing($input-height-normal);

  &:focus {
    border: none;
    border-bottom: 2px solid $pink;
    border-radius: 0;
    outline: none;
    box-shadow: none;
  }

  &.theme--error {
    background: lighten($pink, 25);
  }

  @include placeholder {
    color: #ccc;
  }

  &.size--small {
    @include input-sizing($input-height-small);
  }
  &.size--large {
    @include input-sizing($input-height-large);
  }

} // @mixin input

textarea,
input.input,
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
  @include input($off-white, $black);
}

textarea {
  height: 5em;
}

label {
  color: $black-20;
  font-size: 0.75em;
  font-family: $typeface-sans;
  cursor: pointer;
}

.input--group {
  label {
    display: block;
    margin-bottom: 0.5em;
  }
} // .input--group

.input--help {
  color: $grey;
  font-family: $typeface-sans;
  font-size: 0.6em;
}

.input--radio,
.input--checkbox {
  position: relative;

  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
  }

  label {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 0;
    font-size: 0.7em;
    cursor: pointer;
  }

  label:before {
    vertical-align: middle;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    border: 1px solid $grey-dark;
    font-size: 1em;
    line-height: 1em;
    content: "";
  }

  input[type="radio"] + label:before {
    border-radius: 500px;
  }

  input[type="radio"]:focus + label,
  input[type="checkbox"]:focus + label {
    color: $black;
    &:before { outline: 1px dotted $grey; }
  }

  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label {
    color: $black;
    // outline: none;
  }

  input[type="radio"]:checked + label:before,
  input[type="checkbox"]:checked + label:before {
    content: "\2713";
    border-color: $pink ;
    background: $pink ;
    color: $white ;
    text-align: center;
  }

  @include media-ie-only {
    input[type="radio"],
    input[type="checkbox"] {
      position: static;
      vertical-align: middle;
      overflow: visible;
      clip: auto;
      width: auto;
      height: auto;
      padding: 0;
      margin: 0 auto;
    }

    input[type="radio"] + label:before,
    input[type="checkbox"] + label:before {
      display: none;
    }
  }
} // .input--checkbox, .input--radio

.input--error-msg {
  display: block;
  font-family: $typeface-sans;
  font-size: 0.65em;
  font-weight: $bold-weight;
  color: $pink;
}

.input--required-asterisk {
  color: $red-chicago;
}
