.link-bright {
  color: $white;
  &:hover { color: $white; }
}

.link-vivid {
  color: $pink;
  &:hover { color: $pink; }
}

.link-plain-til-hover {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}
