.link-bright {
  color: $white;
  &:hover { color: $white; }
}

.link-vivid {
  color: $pink;
  &:hover { color: $pink; }
}

.link-plain-til-hover {
  text-decoration: none;
  &:hover { text-decoration: underline; }
}

/*
 * ------------------------------------------------
 * Styled links
 * ------------------------------------------------
 */

@mixin styled-links($static-color, $hover-color) {
  a {
    position: relative;
  }

  a,
  a:focus,
  a:hover,
  a:visited {
    color: $pink;
    text-decoration: none;
  }

  a:after,
  a:before {
    @include position(absolute, null null -2px 0);
    width: 0;
    height: 1px;
    content: '';
  }

  a:before {
    z-index: 1;
    width: 100%;
    background: $pink;
  }

  a:after {
    right: 100%;
    z-index: 2;
    width: auto;
    background: $black;
  }

  a:hover:after {
    @include animation(textLink 3s ease-out infinite);
  }
} // styled-links

/*
 * ------------------------------------------------
 * Link animation
 * ------------------------------------------------
 */

@include keyframes(textLink) {
  0% {
    left: 0;
    right: 100%;
  }

  15% {
    left: 0;
    right: 0;
  }
  20% {
    left: 0;
    right: 0;
  }

  35% {
    left: 100%;
    right: 0;
  }
  50% {
    left: 100%;
    right: 0;
  }

  65% {
    left: 0;
    right: 0;
  }
  70% {
    left: 0;
    right: 0;
  }

  85% {
    left: 0;
    right: 100%;
  }
  100% {
    left: 0;
    right: 100%;
  }
} // textLink
