.section-title {
  color: $grey-light;
  // color: lighten($black, 20);
  font-family: $typeface-serif;
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
}

.title-link {
  a { text-decoration: none; }
  a:hover { text-decoration: underline; }
}
