// Typography

p, a, h1, h2, h3, h4, h5, h6, label {
  font-family: inherit;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $typeface-sans;
  text-rendering: optimizeLegibility;
}

$h1-font-size: 2.61792em;
h1 {
  margin: 0 0 0.63027em;
  font-size: $h1-font-size;
  font-weight: $bold-weight;
  line-height: 1.13em;
}

$h2-font-size: 2.0225em;
h2 {
  margin: 0 0 0.81582em;
  font-size: $h2-font-size;
  line-height: 1.5em;
  &.bold { font-weight: $bold-weight; }
}

$h3-font-size: 1.818em;
h3 {
  margin: 0 0 0.5em;
  font-size: $h3-font-size;
  font-weight: $bold-weight;
  line-height: 1.25em;
}

$h4-font-size: 1.618em;
h4 {
  margin: 0 0 0.5em;
  font-size: $h4-font-size;
  font-weight: $bold-weight;
  line-height: 1.25em;
}

$h5-font-size: 1.432em;
h5 {
  margin: 0 0 0.5em;
  font-size: $h5-font-size;
  font-weight: $bold-weight;
  line-height: 1.25em;
}

$h6-font-size: 1.35em;
h6 {
  margin: 0 0 0.5em;
  font-size: $h6-font-size;
  font-weight: 400;
  line-height: 1.25em;
}

p {
  margin: 0;
  line-height: 1.75;
}

strong {
  font-weight: $bold-weight;
}

hr {
  border-color: $off-white;
}

pre,
code {
  white-space: pre-wrap;
}

.subtle {
  color: $grey;
}
