// Typography

p, a, h1, h2, h3, h4, h5, h6, label {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $typeface-sans;
}

h1 {
  margin-bottom: 0.63027em;
  font-size: 2.61792em;
  font-weight: $bold-weight;
}

h2 {
  margin-bottom: 0.81582em;
  font-size: 2.0225em;
}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  margin: 0;
}

strong {
  font-weight: $bold-weight;
}

hr {}

pre,
code {
  white-space: pre-wrap;
}
