---
title: "Thanks You! - New Client Form"
above_header: true
---

<% hero = capture do %>
  <h1>Thank you!</h1>
  <h2 class="title--subheading">We are delighted to be working with you and have updated our system with all of your current information.</h2>
<% end %>
<%= macro_hero(
    image: asset_url("images/backgrounds/blog-bg.jpg"),
    theme: "theme--very-dark"
  ) { hero } %>

<section class="b-page" id="thanks">
  <div class="l-constrained-medium">
    <div class="b-text will-animate fadeInDown"
          data-wow-duration="0.7s" data-wow-delay="0.2s">
      <p>Want to learn a little more about us? Feel free to <a href="<%= data.urls.blog %>">explore our blog</a> or browse through a sampling of our work below.</p>
    </div>
  </div>
</section>

<%# Random case studies (async) %>
<div class="s-case-studies theme--async" data-random-case-studies="4">
  <%= partial "templates/case_study_boxes" %>
</div>
