.s-case-studies {
  margin-right: auto;
  margin-left: auto;

  > h1 {
    margin-top: 0.5em;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
  }

  > h2 {
    @include page-container(20em, 20em);
    padding-bottom: 2em;
    margin-bottom: 0;
    font-family: $typeface-serif;
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.5;
    font-style: italic;
    text-align: center;
  }
} // .s-case-studies

.s-case-studies__list {
  @include animation(fadeIn50 1s ease);

  > article {
    width: 100%;
    margin-bottom: 1px;
  }

  @include media($breakpoint-desktop) {
    @include display(flex);
    @include flex-wrap(wrap);

    > article:nth-child(2n+1) {
      margin-right: 1px;
    }

    > article:nth-child(4n),
    > article:nth-child(4n+1) {
      @include flex-basis(60%);
    }

    > article:nth-child(4n+2),
    > article:nth-child(4n+3) {
      @include flex(1 0.3 39%);
    }

    @supports not ((flex-wrap: wrap) or (-ms-flex-wrap: wrap) or (-moz-flex-wrap: wrap) or (-webkit-flex-wrap: wrap)) {
      @include flex-wrap(nowrap);
      display: block;

      > article:nth-child(1n) {
        display: block;
        margin-right: 0;
      }
    } // @supports not (flex-wrap: wrap)

    .no-flexbox & {
      @include flex-wrap(nowrap);
      display: block;

      > article:nth-child(1n) {
        display: block;
        margin-right: 0;
      }
    } // .no-flexbox &
  } // $breakpoint-ipad
} // .s-case-studies__list
