<script data-template-post type="text">
  {{#posts}}
    <article class="b-post-box image--bg-holder">

      <%# Background image %>
      <a href="{{path}}" class="image--bg-link theme--grow theme--fade">
        <div class="image--bg theme--dark"
              {{#thumbnail}}
                style="background-image: url('{{thumbnail}}')"
              {{/thumbnail}}></div>
      </a>

      <%# Meta %>
      <a class="b-post-box__meta b-post-preview fadeIn" href="{{path}}">
        <h1>{{title}}</h1>
        <time datetime="{{published}}">{{publishedHuman}}</time>
        {{#description}}
          <h2>{{description}}</h2>
        {{/description}}
      </a>

    </article>
  {{/posts}}
</script>
