---
title: "1 Page Sites"
date: 2014-05-02 15:00
cover_header: true
tagline: "Packaged Service for Effective Websites"
color: "#E66D17"
---

/ Split text + image – text on left (the default side)
= split_block image: case_study_image_path('1pagesites-1.jpg'), background: current_page.data.color, color: '#fff'
  p <a href="http://www.1pagesites.net/" target="_blank">1 Page Sites</a> is a packaged service for the design and development of single page responsive websites with static content. One page sites are perfect for a business, product, service, location or event.

= text_block do
  p We've given potential clients a way to get a great site online quickly and affordably. In addition to being a popular choice, single page sites offer a great way to present information in a creative way. Visitors have immediate access to everything that they need to know to make an informed decision without ever leaving the homepage, thus increasing conversions. Using responsive web design, all of the sites look great on every device and load quickly.

  / Split text + image – text on right
= split_block image: case_study_image_path('1pagesites-2.jpg'), background: current_page.data.color, color: '#fff', text_side: "right"
  p Shopping for a website can be hard. There is quite a bit that can go into creating a site for your business and the the process can be very involved. We wanted to make it easier for clients that want to get their message across with a great web presence.

= text_block do
  p To show how effective one page sites can be, we created a site to market the service. In addition to covering the basics, the site features social media links, a contact form to allow visitors to easily begin a project and a mailing list sign up so that they can begin receiving regular emails with tips on how to make their next site a success. Within the first day of launching the product, we have already acquired new projects for single page sites.

/ Text w/ background image
= image_block image: case_study_image_path('1pagesites-3.jpg')

= text_block callout: true
  a(href='http://www.1pagesites.net/' class='btn') Visit the Site
