---
title: "The Marriage You’ve Always Wanted"
date: 2014-05-02 15:00
cover_header: true
tagline: "Marketing a New Product"
color: "#f2973d"
website_url: "http://www.chapmanlive.com"
---

= text_block do
  p <em>New York Times</em> bestselling author, speaker, pastor and counselor, Dr. Gary Chapman has spent over forty years leading and teaching couples with his trademark warmth and humor. To allow for more people to experience his renowned marriage conferences, <em>The Marriage You’ve Always Wanted Small Group or Event Experience</em> provides everything needed to host virtual conference.

  p To launch this new product, Gary Chapman and his team utilized our <a href="http://www.1PageSites.com" target="_blank">1 Page Sites</a> service to create a standout marketing page that showcased the benefits of this unique product. In addition to presenting visitors with all of the necessary information about the product, the site also helps small groups or organizations successfully promote their event by providing them with a free selection of downloadable resources. Event hosts also have the ability to take part in an interactive survey that provides Gary Chapman and his team with valuable feedback to continually improve their products and services.

/ Slideshow
= case_study_slideshow %w(chapman-live-slide-1 chapman-live-slide-2 chapman-live-slide-3 chapman-live-slide-4)

= live_preview_block url: current_page.data.website_url, background: current_page.data.color, color: data.colors.white

= text_block callout: true
  p Do you need help marketing your product or service?
  p = component "cta-button"
  p You can also visit the <a href="http://www.chapmanlive.com" target="_blank">The Marriage You’ve Always Wanted website</a>.
