---
title: "Else"
date: 2016-3-20 10:00
cover_header: true
tagline: "Creating a Mobile App Experience That Encourages Users to Think of Someone Else"
published: true
color: "#a9cb65"
website_url: "http://elseapp.co"
featured: true
---

/ Text
= text_block do
  p Else is a social photo sharing network with the goal of making posts less about oneself and more about someone else. To combat the “selfie” culture, Else users post ”elsies” — photos or wordboxes that depict an action of doing something for someone else. In addition, posts on Else receive a score which shows users the impact that the particular post had on the community.

/ Split text + image – text on right
= split_block image: case_study_image_path('else-1.jpg'), background: current_page.data.color, color: '#ffffff', text_side: "left"
  p Else is all about collaboration and connecting with your friends through capturing acts of good on your mobile device.

/ Text
= text_block do
  p “Elsies” are meant to evoke a mini-movement by inspiring others to participate in a similar action. Thus, users can reply to a post on Else with an “elsie” of their own. Every post has details about what inspired the post and all of the “elsies” that came as a result. This “family tree” of inspiration is meant to encourage those using the app to continually look for opportunities to think of someone else.

  p Furthermore, discovery is facilitated through the categorization of who the post impacts. Users also have the ability to create their own inspiration board by pinning posts that resonate with them in order to take action at a later time.

/ Split text + image – text on left
= split_block image: case_study_image_path('else-2.jpg'), background: '#819bb9' , color: '#ffffff', text_side: "right"
  p Users can reply to a post on else with their own act of good. These posts are then connects so that you users can see the impact of their post.

/ Text
= text_block do
  p To achieve this ambitious goal, we worked with the Else team to wireframe all of the user flows for the mobile application and design the complete visual experience for the user. The team desired a design that could remain cohesive across multiple mobile operating systems while also supporting a vast feature set that the Else team determine would be critical to their success.

/ Split text + image – text on right
= split_block image: case_study_image_path('else-3.jpg'), background: current_page.data.color, color: '#ffffff', text_side: "left"
  p Wordboxes allow for users to communicate their good works even if they do not have a photo to share.

/ Text
= text_block do
  p In order to easily onboard new users, we kept the primary interactions similar to those of many competing photo sharing applications. However, the design also highlights the unique qualities of the mobile application. The result is a user-friendly experience that stays true to it’s core mission to make kindness fun and social.

  p Else is currently in development and will be available in the Apple’s App Store and on Google Play in time for summer in 2016. for more information, visit <a href="http://elseapp.co/" target="blank">ElseApp.co</a>.

/ Slideshow
= case_study_slideshow %w(else-slide-1 else-slide-2 else-slide-3 else-slide-4 else-slide-5)

= text_block callout: true
  p Are you looking to create a mobile application?
  = component "cta-button"
