---
title: "Not Today Coalition"
date: 2014-05-02 15:00
cover_header: true
tagline: "Increased Support & Dononations for a Nonprofit"
color: "#6EA430"
---

/ Split text + image – text on left (the default side)

= text_block do
  p The Not Today Coalition is a non-profit supported by modern day abolitionists seeking to put an end to the injustices being done to the Dalits of India. Empowering the Dalit children through education, NTC's goal is to impact 25,000 Dalit communities by funding 1000 schools.

= split_block image: case_study_image_path('ntc-1.jpg'), background: current_page.data.color, color: '#fff'
  p In order to help supporters better recognize Not Today Coalition and their cause, we created a brand identity that represented the goals of the organization.

= text_block do
  p In order to help Not Today Coalition increase support for their cause, we designed and developed a custom web application. By creating a web application, users are not restricted to certain devices and can be accessed via any browser. The simple intutive application allows for visitors to sign up for the coalition, donate to it and share it with their friends.

  / Split text + image – text on right
= split_block image: case_study_image_path('ntc-2.jpg'), background: current_page.data.color, color: '#fff', text_side: "right"
  p The responsive web application delivers a fantastic user experience to visitors on any sized device. This provides an added benefit since representatives of the organization can sign supporters up on location at events using tablets.

/ Slideshow
= case_study_slideshow %w(ntc-slide-1 ntc-slide-2 ntc-slide-3 ntc-slide-4 ntc-slide-5)

= text_block callout: true
  a(href='http://www.ntc.io/' target='_blank' class='btn') Visit the Site
