---
title: "Signature Group Holdings"
date: 2014-05-02 15:00
cover_header: true
tagline: "Communicating Shareholder Value"
color: '#009aa6'
---


= text_block callout: true
  a(href='http://www.ntc.io/' target='_blank' class='btn') Visit the Site
