---
title: The 5 Love Languages
date: 2014-05-02 15:00
cover_header: true
tagline: "Short tagline to relay the value or solution provided"
---

/ = static_image_component src: case_study_image_path(current_page, 'cover-bg.jpg'), alt: current_page.title

/ = text_block_component image: case_study_image_path(current_page, 'cover-bg.jpg'), background: '#f27390', color: '#f27390', fixed: true do
/   h1 Example text

/ = text_block_component background: '#f27390'
