.b-post-feed-hero {
  background-color: $black;
  background-image: image-url('backgrounds/blog-bg.jpg');
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
}
