<li><a href="<%= data.urls.work %>">Work</a></li>
<li><a href="<%= data.urls.services %>">Services</a></li>
<li><a href="<%= data.urls.team %>">Team</a></li>
<li><a href="<%= data.urls.blog %>">Blog</a></li>
