---
title: "Newsletter"
above_header: true
---

<section class="b-hero-image hero-image__top-center"
         style="background-image: url('<%= asset_url("images/backgrounds/newsletter-bg.jpg") %>');">
  <div class="l-constrained">
    <div class="b-hero-image__content will-animate fadeInUp"
         data-wow-duration="0.7s"
         data-wow-delay="0.2s">
      <h1>Newsletter</h1>
    </div>
  </div>
</section>

<section class="l-constrained-small b-page">
  <div class="b-post-preview will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <h1>Subscribe for Inside Access</h1>
    <h2>Receive monthly briefings on what we have been researching, designing, building and thinking.</h2>
    <%= partial "partials/newsletter_form" %>
  </div>
</section>
