---
title: "Thank You! - New Client Form"
above_header: true
---

<% hero = capture do %>
  <h1>Thank you!</h1>
  <h2 class="title--subheading">Thank you for updating our system with your contact information. </h2>
<% end %>
<%= macro_hero(
    image: asset_url("images/backgrounds/blog-bg.jpg"),
    theme: "theme--very-dark"
  ) { hero } %>

<section class="b-page" id="thanks">
  <div class="l-constrained-medium">
    <div class="b-text will-animate fadeInDown"
          data-wow-duration="0.7s" data-wow-delay="0.2s">
      <p>Want to know more about us? Feel free to <a href="<%= data.urls.work %>">explore our case studies</a> or browse one of our blog articles below.</p>
    </div>
  </div>
</section>

<%# Random posts (async) %>
<div class="s-posts-index" data-random-posts="3"></div>
