// White
$white:        #fff;
$off-white:    #fafaf7;
$medium-white: #f4f4ee;

// Black
// $black: #0e1319;
$black: #14191f;
$black-10: lighten($black, 10);
$black-20: lighten($black, 20);

// Grey
$grey-dark:  #777;
$grey:       #999;
$grey-light: #ccc;

// Pink
$pink: #f27390;

// Chicago
// $blue-chicago: #b4ddf1;
$blue-chicago: #8fceee;
$red-chicago: #c8493e;
