// White
$white:        #fff;
$off-white:    #fafaf7;
$medium-white: #f4f4ee;
$dark-white:   #edede8;

// Black
$black:    #14191f;
$black-30: lighten($black, 20); // #3c4b5d
$black-40: lighten($black, 15); // #323e4e
$black-50: lighten($black, 10); // #28323e
$black-60: $black;
$black-70: darken($black, 5);
// Legacy black
$black-10: #28323e; // lighten($black, 10)
$black-20: #3c4b5d; // lighten($black, 20)

// Grey
$grey-dark:  #777;
$grey:       #999;
$grey-light: #ccc;

// Pink
$pink: #f27390;
$pink-30: lighten($pink, 10);
$pink-40: lighten($pink, 5);
$pink-50: $pink;
$pink-60: darken($pink, 5);
$pink-70: darken($pink, 10);

// Chicago
$blue-chicago: #8fd7fc;
$red-chicago:  #d94e41;
