$page-gutter: 0.5em;

$typography-breakpoint1: 600px;
$typography-breakpoint2: 800px;
$typography-breakpoint3: 1050px;
$typography-breakpoint4: 1200px;

$input-height-small:  1.5em;
$input-height-normal: 2em;
$input-height-large:  2.5em;

// $max-width: 1088px;
$max-width: 1200px;

$header-height: 3em;
