$page-gutter: 0.5em;

// Typography
$typography-breakpoint1: 600px;
$typography-breakpoint2: 800px;
$typography-breakpoint3: 1050px;
$typography-breakpoint4: 1200px;

// Inputs
$input-height-small:  1.5em;
$input-height-normal: 2em;
$input-height-large:  2.5em;

// Layout widths
$max-width: 1200px;

// Header
$header-height: 3em;
