$page-gutter: 1em;

// Typography
$typography-breakpoint1: 600px;
$typography-breakpoint2: 800px;

// Inputs
$input-height-small:  1.5em;
$input-height-normal: 2em;
$input-height-large:  2.5em;

// Layout widths
$max-width: 1200px;
$layout-width-small:  20em;
$layout-width-medium: 30em;
$layout-width-large:  40em;

// Header
$header-height: 4em;
$header-padding: 1em;
$header-cover: ".has-cover-header";
$header-fill:  ".has-fill-header";
