// Typefaces

$typeface-sans:  'Gotham SSm A', 'Gotham SSm B', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$typeface-serif: 'Mercury SSm A', 'Mercury SSm B', Georgia, Cambria, "Times New Roman", Times, serif;

$bold-weight: 800;

$body-copy-color: inherit;
$heading-color: inherit;
