---
title: "Page Not Found"
directory_index: false
---

<div class="l-constrained-medium s-404">
  <div class="s-404__image">
    <%= image_tag "404.gif", class: "image-fullwidth" %>
  </div>

  <div class="b-text">
    <p>Uh oh, the content you were looking for could not be found.</p>
    <p>You can <a href="/">return home</a> or use the <a href="#header" data-open-nav>nav menu</a>.</p>
  </div>
</div>
