---
title: "Blog"
---

<section class="l-constrained-medium b-posts">
  <% blog('blog').articles.each do |item| %>
    <article>
      <h1><a href="<%= item.url %>"><%= item.title %></a></h1>
      <% if item.data.tagline %>
        <h2><a href="<%= item.url %>"><%= item.data.tagline %></a></h2>
      <% end %>
    </article>
  <% end %>
</section>
