---
title: "New Client Form"
---

<section class="b-page--standard s-new-client">
  <h1 class="will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">New Client Form</h1>
  <%#<h2 class="will-animate fadeIn" data-wow-duration="0.7s" data-wow-delay="0.2s">We are looking forward to working with you on this project. Please fill out this short form so that we have your most current information.</h2>%>
  <div class="s-new-client__form">
    <div class="typeform-widget" data-url="https://lacroixdesign.typeform.com/to/mTcu2U" data-text="New Client Form" style="width:100%;height:500px;"></div>
  </div>
</section>

<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
