---
title: "Newsletter"
above_header: true
---

<section class="b-hero-image hero-image__top-center"
         style="background-image: url('<%= asset_url("images/backgrounds/newsletter-bg.jpg") %>');">
  <div class="l-constrained">
    <div class="b-hero-image__content will-animate fadeInUp"
         data-wow-duration="0.7s"
         data-wow-delay="0.2s">
      <h1>NEWSLETTER</h1>
    </div>
  </div>
</section>

<section class="l-constrained-medium b-newsletter-form">
  <div id="mc_embed_signup" class="b-post-preview will-animate fadeInDown" data-wow-duration="0.7s" data-wow-delay="0.2s">
    <form action="//lacroixdesign.us2.list-manage.com/subscribe/post?u=cb74d792445887e99b0a36575&amp;id=9875eb3767" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h1>Sign Up for Inside Access</h1>
      <h2>Receive monthly briefings on what we have been researching, designing, building and thinking about.</h2>
      <div class="indicates-required">
        <span class="asterisk">*</span> indicates required
      </div>
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
      </label>
        <input type="email" value="" name="EMAIL">
      </div>
      <div class="mc-field-group">
        <label for="mce-FNAME">First Name </label>
        <input type="text" value="" name="FNAME">
      </div>
      <div class="mc-field-group">
        <label for="mce-LNAME">Last Name </label>
        <input type="text" value="" name="LNAME">
      </div>

      <%# real people should not fill this in and expect good things - do not remove this or risk form bot signups %>
      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_cb74d792445887e99b0a36575_9875eb3767" tabindex="-1" value="">
      </div>
      <div class="clear">
        <button type="submit" name="subscribe" class="btn">Subscribe</button>
      </div>
    </form>
  </div>
</section>
