---
title: "Plain Page"
---

<div class="l-constrained">
  <h1>LaCroix Design Co.</h1>
  <p><em>Muji carefully curated Toto</em>, punctual flat white airport vibrant Sunspel international Washlet handsome Ginza.</p>
  <p><a href="#" class="btn-bright">Standard Button</a></p>
</div>
