.b-case-study-preview {
  @include display(flex);
  overflow: hidden;
  background-color: $black;
  color: $white;
  text-align: center;

  > a {
    position: relative;
    display: block;
    @include display(flex);
    width: 100%;
    background-color: $black;
    background-color: rgba($black, 0.4);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    text-decoration: none;
    @include transition(all 0.2s ease);
    @include transform(scale(1.05));
  }

  .content-wrap {
    width: 100%;
    padding: 4em $page-gutter;
    background-color: transparent;
    @include transition(background-color 0.2s ease);
  }

  .content {
    position: relative;
    @include transition(all 0.2s ease);
    @include transform(scale(0.9));
  }

  > a:hover {
    @include transform(scale(1));

    .content-wrap {
      background-color: inherit;
    }

   .content {
      @include transform(scale(1));
    }
  } // > a:hover

  h2 {
    margin-top: 1em;
    font-family: $typeface-serif;
    font-size: 1.125em;
    font-weight: normal;
    font-style: italic;
  }
} // .b-case-study-preview
