.b-case-study-preview {
  overflow: hidden;
  background: $black;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  color: $white;
  text-align: center;

  > a {
    position: relative;
    display: block;
    padding: 4em $page-gutter;
    background: transparent;
    text-decoration: none;
    @include transition(all 0.2s ease);
    @include transform(scale(1.05));
  }

  .content {
    position: relative;
    @include transition(all 0.2s ease);
    @include transform(scale(0.9));
  }

  > a:hover {
    @include transform(scale(1));
   .content { @include transform(scale(1)); }
  }

  h2 {
    margin-top: 1em;
    font-family: $typeface-serif;
    font-size: 1.125em;
    font-weight: normal;
    font-style: italic;
  }
} // .b-case-study-preview
