// General Containers

$containers-bp: $breakpoint-desktop;

@mixin page-container($width1: none, $width2: none, $bp: $containers-bp) {
  @include row;
  width: 100%;
  padding: 0 $page-gutter;
  margin: auto;

  @include media-ie($bp) {
    max-width: $width2;
  }
}

.l-constrained {
  @include page-container(30em, $max-width);
}

.l-unconstrained {
  @include page-container;
}

.l-main {
  margin-bottom: 2em;
  border-bottom: 1px solid $medium-white;

  @include media-ie($containers-bp) {
    @include span-columns(8);
    border-bottom: none;
  }
} // .l-main

.l-sidebar {
  max-width: 25em;
  margin: auto;

  @include media-ie($containers-bp) {
    @include span-columns(4);
    max-width: none;
    margin-right: 0;
  }
} // .l-sidebar

.b-page {
  padding: 2em 0;
  background: $off-white;
}
