@mixin hero-image($pad-small: 4em, $pad-large: 7em) {
  padding: $pad-small + $header-offset 0 $pad-small;
  background-color: $black;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: $white;
  text-align: center;

  &.theme--inverse {
    color: $black;
  }

  &.hero-image__top-center {
    background-position: top center;
  }

  @include media(min-width 500px min-height 500px) {
    padding: $pad-large + $header-offset 0 $pad-large;
  }

  @include media-ie {
    padding: $pad-large + $header-offset 0 $pad-large;
  }
} // @mixin hero-image

.b-hero-image {
  @include hero-image;
}

.b-hero-image__content {
  h1 {
    font-size: 1.5em;
  }

  @include media(500px) {
    h1 { font-size: 2.25em; }
  }

  @include media-ie($breakpoint-ipad) {
    h1 { font-size: $h1-font-size; }
  }
} // .b-hero-image__content

.b-hero-team-member {
  @include hero-image(3em, 4em);

  img {
    width: 6em;
    margin: 0 auto 1.75em;
  }

  h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }

  h2 {
    margin-bottom: 1.5em;
    font-family: $typeface-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }

  ul {
    font-size: 1em;
  }

  ul a:hover {
    color: $pink;
  }
} // .b-hero-team-member
