.b-menu-body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba($black, 0.5);

  .is-menu-open & {
    display: block;
  }
} // .b-menu-body-overlay

.b-menu-toggle {
  position: relative;
  z-index: 2;
  display: block;
  height: 100%;
  padding: 0 $page-gutter;
  font-family: $typeface-sans;
  font-weight: $bold-weight;
  line-height: $header-height;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(none);

  &:hover,
  .is-menu-open & {
    background: $white;
    color: $black-10;
  }
} // .b-menu-toggle

#menu-open {
  display: block;
  .is-menu-open & { display: none; }
}
#menu-close {
  display: none;
  .is-menu-open & { display: block; }
}

.b-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  display: none;
  width: 90%;
  min-width: 20em;
  background: $white;
  color: $black-10;
  font-family: $typeface-serif;

  .is-menu-open & {
    display: block;
  }
} // .b-menu

.b-menu-list {
  li {
    border-bottom: 1px solid $off-white;
  }

  a {
    display: block;
    padding: 0.5em 1em 0.5em 0.75em;
    border-left: 0.5em solid transparent;
    font-size: 1.25em;
    font-weight: $bold-weight;
    line-height: normal;
    font-style: italic;
    text-decoration: none;
  }

  a:hover {
    border-left-color: $pink;
    color: $pink;
  }

  @include media(min-height 37em) {
    a { padding: 0.75em 1em 0.75em 0.75em; }
  }
} // .b-menu-list

.b-menu-social {
  padding: 0 0.5em;
  margin: 1em auto;
  text-align: center;

  li {
    display: inline;
    margin-left: 0.75em;
  }

  li:first-child {
    margin-left: 0;
  }

  a {
    font-size: 1.25em;
    text-decoration: none;
  }

  a:hover {
    color: $pink;
  }
} // .b-menu-social

.b-menu-contact a {
  display: block;
  padding: 1em 0.5em;
  background: $off-white;
  font-size: 0.8125em;
  font-style: italic;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: $pink;
    color: $white;
  }
} // .b-menu-contact
