.b-menu {
  float: right;
  height: 100%;
  font-family: $typeface-sans;
  // font-family: $typeface-serif;
  // font-style: italic;
  font-weight: $bold-weight;
  // font-weight: bold;
  line-height: $header-height;

  ul {
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    height: 100%;
  }

  a {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 0.5em;
    border-bottom: 5px solid transparent;
    text-decoration: none;
  }

  a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: transparent;
    content: '';
    @include transform(translateY(-0.5em));
    @include transition(all 0.2s linear);
  }

  a:hover:after {
    background: $off-white;
    @include transform(translateY(0));
  }
} // .b-menu
