.b-newsletter-form {
  h1 {
    margin-bottom: 0;
    font-size: 1.5em;
  }

  h2 {
    margin: 0.5em 0 0;
    color: $grey-dark;
    font-family: $typeface-serif;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
  }
} // .b-newsletter-form
