/*
 * ------------------------------------------------
 * Simple
 * ------------------------------------------------
 */

.b-pagination {
  @include clearfix;
  padding-top: 1em;
  margin: 3em auto 0;
  border-top: 1px solid $medium-white;
  color: $grey;
  font-family: $typeface-sans;
  font-size: 0.75em;
  text-transform: uppercase;

  a {
    margin-bottom: 1em;
    text-decoration: none;
  }

  .prev {
    float: left;
    text-align: left;
  }

  .next {
    float: right;
    text-align: right;
  }

  a:hover {
    text-decoration: underline;
  }
} // .b-pagination

/*
 * ------------------------------------------------
 * Big
 * ------------------------------------------------
 */

.b-pagination-btn {
  position: relative;
  z-index: 1;
  display: block;
  padding: 2em 0;
  font-family: $typeface-sans;
  font-weight: $bold-weight;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(color 0.1s ease-out);

  &:after {
    @include position(absolute, 0 null 0 0);
    width: 0;
    z-index: -1;
    background: $pink;
    content: '';
  }

  &:hover {
    color: $white;
  }

  &:hover:after {
    width: 100%;
    @include animation(growHorizontal 0.2s ease-out);
  }
} // .b-pagination-btn
