.b-search {
  background: $off-white;
  padding: 2em 0;

  .b-search--wrapper{
    max-width: 30em;
    margin: auto;
  }

  * {
    box-sizing: content-box !important;
    font-size: 100%;
    font-family: Arial, sans-serif !important;
  }
} //.b-search
