/*
* ------------------------------------------------
* Page
* ------------------------------------------------
*/

.b-page {
  margin-top: 3em;
  margin-bottom: 3em;
}

/*
* ------------------------------------------------
* Section
* ------------------------------------------------
*/

.b-section {
  padding-top: 2em;
  padding-bottom: 2em;

  > header {
    margin-bottom: 2em;
  }
} // .b-section

/*
* ------------------------------------------------
* Text component
* ------------------------------------------------
*/

.b-text-component {
  padding: 2.5em 0;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;

  .is-callout {
    font-size: 1.25em;
    text-align: center;
  }

  &.has-fixed-bg {
    background-attachment: fixed;
  }

  &.has-bg-image {
    color: $white;
  }
} // .b-text-component

/*
* ------------------------------------------------
* Split component
* ------------------------------------------------
*/

.b-split-component {
  display: table;
  width: 100%;
  text-align: center;

  article {
    padding: 4em 0;
  }

  aside {
    min-height: 25em;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: inherit;
  }

  .b-split-component__text {
    font-size: 1.25em;
    font-style: italic;
  }

  &.has-fixed-bg {
    background-attachment: fixed;
  }
} // .b-split-component

@mixin split-component-desktop-styles {
  aside,
  article {
    display: table-cell;
    width: 50%;
    min-height: 0;
  }

  .left {
    margin-right: 0;
  }

  .right {
    margin-left: 0;
  }
} // $breakpoint-ipad
