.b-page {
  padding: 2em 0;
  background: $off-white;
}

.b-section {
  padding-top: 2em;
  padding-bottom: 2em;

  header {
    margin-bottom: 2em;
  }
} // .b-section

.b-text-component {
  padding: 4em 0;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;

  &.has-fixed-bg {
    background-attachment: fixed;
  }

  &.has-bg-image {
    color: $white;
  }
} // .b-text-component

.b-split-component {
  display: table;
  width: 100%;
  text-align: center;

  > article {
    padding: 4em 0;
  }

  > aside {
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: inherit;
  }

  &.has-fixed-bg {
    background-attachment: fixed;
  }

  @include media-ie($breakpoint-ipad) {
    aside,
    article {
      display: table-cell;
      width: 50%;
    }
  } // $breakpoint-ipad
} // .b-split-component
