.b-text {

  p {
    margin-bottom: 1em;
  }

  p,
  ul {
    a,
    a:focus,
    a:visited {
      color: $pink;
    }

    a:hover {
      color: lighten($pink, 10);
    }
  } // p, ul

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
    padding-left: 2.25em;
    margin: 1.5em auto;
  }

  ul li {
    margin-bottom: 1em;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: square;
  }

  blockquote {
    padding: 0 1em;
    margin: 1.5em 1em;
    border-left: 5px solid #eee;
    color: $black-20;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:after {
    content: no-close-quote;
  }

  blockquote p {
    margin-top: 1em;
  }

  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
  }

} // .b-text

.b-tagline {
  color: $pink;
  font-family: $typeface-serif;
  font-size: 1.125em;
  font-style: italic;
  text-align: center;
  text-rendering: optimizeLegibility;
}
