.b-text {
  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  p,
  li {
    margin-bottom: 1em;
    line-height: 1.75;
  }

  p,
  ul {
    a {
      padding-bottom: 1px;
      border-bottom: 2px solid $pink;
    }

    a,
    a:focus,
    a:visited {
      color: inherit;
      text-decoration: none;
    }

    a:hover {
      color: $pink;
      text-decoration: none;
    }
  } // p, ul

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
    padding-left: 2.25em;
    margin: 1em auto;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: square;
  }

  li {
    margin-bottom: 0.5em;
  }

  blockquote {
    padding: 0 1em;
    margin: 1.5em 1em;
    border-left: 5px solid #eee;
    color: $black-20;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:after {
    content: no-close-quote;
  }

  blockquote p {
    margin-top: 1em;
  }

  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
  }

  figure figcaption {
    $font-size: 0.625em;
    padding: 0 #{($page-gutter / $font-size)}em;
    color: $grey;
    font-family: $typeface-sans;
    font-size: $font-size;
    line-height: 1.75;

    a {
      color: $pink;
    }
  } // figure figcaption

  .figure-small {
    max-width: $layout-width-small;
    margin: 1.5em auto;
  }

  .video {
    margin: 1.5em #{$page-gutter * -1};

    > div,
    > iframe {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  } // .video

  .image-stretch-wrap {
    margin: 1.5em #{$page-gutter * -1};
  }

  .pullquote {
    max-width: 30em;
    margin: 1.5em auto;
    text-align: center;

    p {
      margin-bottom: 0;
      color: $pink;
      font-size: 1.5em;
      font-style: italic;
      line-height: 1.375;
    }

    figcaption {
      margin-top: 1em;
      font-size: 1em;
    }
  } // .pullquote

  .tweet {
    margin: 1.5em auto;
  }

  .gist-embed-wrapper {
    $ratio: 0.7;
    // margin: #{1.5em / $ratio} #{($page-gutter / $ratio) * -1};
    margin: #{1.5em / $ratio} auto;
    color: $grey;
    font-size: #{$ratio}em;
    font-style: italic;
    line-height: 1.5;
    .gist { font-style: normal; }
  }

  pre {
    padding: 1em $page-gutter;
    margin: 1.5em #{$page-gutter * -1};
    background: $off-white;
  }

  pre code {
    font-size: 0.75em;
  }

  p code {
    display: inline-block;
    padding: 0 0.25em;
    background: $off-white;
  }
} // .b-text

.b-tagline {
  color: $pink;
  font-family: $typeface-serif;
  font-size: 1.125em;
  font-style: italic;
  text-align: center;
  text-rendering: optimizeLegibility;
}
