.b-text {
  p {
    margin-bottom: 1em;
  }

  p,
  ul {
    a,
    a:focus,
    a:visited {
      color: $pink;
    }

    a:hover {
      color: lighten($pink, 10);
    }
  } // p, ul

  p:last-child {
    margin-bottom: 0;
  }

  ul {
    list-style: disc;
    padding-left: 2.25em;
    margin: 1.5em auto;
  }

  ul li {
    margin-bottom: 1em;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: square;
  }

  blockquote {
    padding: 0 1em;
    margin: 1.5em 1em;
    border-left: 5px solid #eee;
    color: $black-20;
    quotes: "\201C""\201D""\2018""\2019";
  }

  blockquote:after {
    content: no-close-quote;
  }

  blockquote p {
    margin-top: 1em;
  }

  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
  }

  figure figcaption {
    $font-size: 0.625em;
    padding: 0 #{($page-gutter / $font-size)}em;
    color: $grey;
    font-family: $typeface-sans;
    font-size: $font-size;
    line-height: 1.75;

    a {
      color: $pink;
    }
  } // figure figcaption

  .video {
    margin: 1.5em #{$page-gutter * -1};

    > div,
    > iframe {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  } // .video

  .image-stretch-wrap {
    margin: 1.5em #{$page-gutter * -1};
  }

  .pullquote {
    margin: 1.5em auto;
    text-align: center;

    p {
      margin-bottom: 0;
      color: $pink;
      font-size: 1.5em;
      font-style: italic;
      line-height: 1.375;
    }

    figcaption {
      margin-top: 1em;
      font-size: 1em;
    }
  } // .pullquote
} // .b-text

.b-tagline {
  color: $pink;
  font-family: $typeface-serif;
  font-size: 1.125em;
  font-style: italic;
  text-align: center;
  text-rendering: optimizeLegibility;
}
